@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Karla|Montserrat|Muli|Poppins|Quicksand|Roboto");

:root {
    --main-bg-color: rgba(251, 246, 240, 1);
    --main-font-color: rgba(109, 122, 142, 1);
    --component-bg-color: rgba(215, 215, 215, 1);
    --component-font-color: rgba(76, 76, 76, 1);
    --component-alt-bg-color: rgba(136, 136, 136, 1);
    --component-alt-2-bg-color: rgba(82, 97, 121, 1);
    --component-alt-font-color: rgba(204, 132, 47, 1);
    --component-alt-2-font-color: rgba(255, 160, 15, 1);
    --menu-bd-top: rgba(193, 196, 211, 1);
    --menu-bd-btm: rgba(69, 70, 71, 1);
    --badge-font-color: rgba(210, 215, 235, 1);
    --main-alt-0-font-family: 'Montserrat', sans-serif;
    --main-alt-1-font-family: 'Roboto', sans-serif;
    --main-alt-2-font-family: 'Droid Sans', sans-serif;
    --main-alt-3-font-family: 'Muli', sans-serif;
    --main-alt-4-font-family: 'Poppins', sans-serif;
    --main-alt-5-font-family: 'Karla', sans-serif;
    --main-alt-6-font-family: 'Quicksand', sans-serif;
    --main-alt-0-bg-color: rgba(204, 121, 32, 0.8);
    --main-alt-1-bg-color: rgba(204, 86, 32, 0.3);
    --main-alt-2-bg-color: rgba(204, 86, 32, 1);
    --main-alt-3-bg-color: rgba(204, 106, 32, 0.68);
    --main-alt-4-bg-color: rgb(204, 106, 32);
    --main-alt-5-bg-color: rgb(204, 106, 32);
    --light-grey: rgba(109, 122, 142, 0.74);
}

body {
    color: var(--main-font-color);
    font-family: var(--main-alt-1-font-family);
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: var(--main-font-color);
    font-family: var(--main-alt-1-font-family);
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.App {
    margin: 0;
    padding: 0;
    clear: both;
}

.hidden {
    visibility: hidden !important;
    display: none !important;
}

.saturated {
}

.carved {
    color: var(--main-font-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card {
    background: var(--component-bg-color);
    color: var(--component-font-color);
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-1 {
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    z-index: 200;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    z-index: 300;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    z-index: 400;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    z-index: 500;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*    --MAIN COMPONENT-- */

.main-content {
    top: 62px;
    float: left;
    clear: both;
    padding: 30px;
    position: relative;
    text-align: left;
    width: 100%;
}
/* ----- SEARCH ----- */

/*----- Search Form -----*/
.search-form {
    top: -5px;
    box-sizing: border-box;
    margin:0 0 0 22px;
    text-align: center;
    height: 42px;
    width: calc(100% - 270px);
    display: inline-block;
}

.search-input {
    vertical-align: bottom;
    background: none;
    color: var(--main-font-color);
    outline: none;
    height: 42px;
    margin: 0;
    font-family: inherit;
    font-size: 22px;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    display: inline-block;
}

.search-form form {
    width: 100%;
}
.search-form input[type=search],
.search-form input[type=search]:active {
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    padding: 0 20px;
    width: calc(100% - 62px);
    border-radius: 31px 0 0 31px;
    border: rgba(125, 125, 125, 0.05) 1px solid;
}

.search-form input[type=search]:focus {
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    border: rgba(125, 125, 125, 0) 1px solid;
}

.search-form input::-webkit-search-decoration,
.search-form input::-webkit-search-cancel-button {
    display: none;
}

.search-form input[type=submit],
.search-form button {
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    overflow: hidden;
    width: 62px;
    border-radius: 0 31px 31px 0;
    border: 1px solid rgba(125, 125, 125, 0.05);
    line-height: 0;
    text-align: center;
}

.search-form input[type=submit]:hover,
.search-form button:hover {
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search-form input[type=submit]:active,
.search-form button:active {
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12),inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: rgba(125,125,125,0.1)
}

/* ----- Extended search ----- */

.extended-search-button {
    color: var(--light-grey);
    vertical-align: text-bottom;
    font-size: 18px;
    line-height: 28px;
    padding: 0 52px 12px 52px;
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.openedExtendedSearch {
    padding: 0 52px 0 52px;
    margin-top: -16px;
}

.extended-search-button span {
    position: relative;
    top: -5px;
}
.extended-search-closed {
    min-height: 0;
    max-height: 0;
    background: rgba(0,0,0,0);
    padding: 0px 12px;
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow:0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
}
.extended-search-open {
    min-height: 400px;
    max-height: 700px;
    padding: 12px;
    background: var(--main-alt-3-bg-color);
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.extended-search {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    width: calc(100% - 60px);
    overflow: hidden;
    position: relative;
    float: left;
    display: flex;
}
.extended-search form {
    width:calc(100%);
}

.extended-search input[type=text]::-webkit-search-decoration,
.extended-search input[type=text]::-webkit-search-cancel-button,
.extended-search-submit input[type=submit]::-webkit-search-decoration,
.extended-search-submit input[type=submit]::-webkit-search-cancel-button {
    display: none;
}


.extended-search input[type=text],
.extended-search .PlacesAutocomplete
{
    width: calc(100% - 26px) !important;
    margin: 0 0 12px 0;
    padding: 3px  12px;
    height: 24px;
    font-size: 18px !important;
    border: solid 1px rgba(120,120,120,0.5);
    background: none;
    color: var(--component-font-color) !important;
}

.extended-search input[type=text]:focus,
.extended-search input[type=text]:active,
.extended-search .PlacesAutocomplete:active
{
    border: solid 1px rgba(120,120,120,0.5);
    background: none;
    outline-width: 0;
}
.extended-search span {
    text-align: center;
}
.extended-search input[type=checkbox] {
    height: 22px;
    width: 22px;
    margin: 10px;
    line-height: 42px;
    background: none;
    border: solid 1px rgba(120,120,120,0.5);

}

.extended-search label {
    line-height: 42px;
    font-size: 18px;
    color: var(--component-font-color) !important;
}


.InputRange {
    width: calc(100% - 26px) !important;
    margin: 18px 52px 28px 12px;
}
.InputRange-label {
    color: var(--component-font-color) !important;
    font-family: inherit !important;
}

.InputRange-track--active,
.InputRange-slider{
    background: var(--component-font-color);
}
.extended-search-checkboxes {
    width: calc(50%);
    text-align:left;
    display: inline-block;
}
.extended-search-submit {
    width:calc(50%);
    text-align: right;
    display: inline-block;
}
.extended-search-submit input[type=submit]{
    display: none;
    visibility: hidden;
    margin: 0;
    width: 50%;
    height: 42px;
    border: solid 1px rgba(120,120,120,0.5);
    background: none;
    outline-width: 0;
}

.extended-search-submit input[type=submit]:hover {
    display: none;
    visibility: hidden;
    background: var(--main-alt-3-bg-color);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.extended-search-submit input[type=submit]:active {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.input-tags {
    border: solid 1px rgba(120,120,120,0.5);
    box-sizing: border-box;
    padding: 4px 4px;
    height: 52px;
    white-space: nowrap;
    overflow:hidden;
}
.input-tag {
    border: solid 1px rgba(120,120,120,0.5);
    vertical-align: center;
    margin: 0 4px 0 0;
    padding: 0 4px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.input-tags-search {
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
    min-width: 150px;
    border:none;
    background: none;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: inherit;
}
.lower {
    position: relative;
    top: 4px !important;
}
/*-- notifications --*/
.floating {
    z-index: 500;
    margin: 12px 5px 10px 15px;
    position: relative;
    display: inline-flex;
}

.float-right {
    float: right;
    width: 70%;
    display: inline-table;
}

.lo-badge {
    background-color: var(--component-alt-2-bg-color);
    color: var(--badge-font-color);
    font-size: 14px;
    text-rendering: geometricPrecision;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    padding: 0 0;
    height: 22px;
    min-width: 22px;
    z-index: 300;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: -11px 0 25px -18px;
}

.closer {
    margin-left: -25px;
}

.icon-small {
}

.icon-large {
    font-size: 42px;
    line-height: 42px;
}

.read {
    margin-right: 15px;
}

.unread {
    color: var(--component-alt-2-font-color);
    margin-right: 15px;
}

.newMessage {
    transition: pulse;
    transition-delay: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: scale(1);
    animation: pulse 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1); /* Chrome, Safari, Opera */
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.notif {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 200ms;
}

.notif:hover {
    cursor: pointer;
    z-index: 200;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
    transition: all 200ms;
}

.notif:active {
    z-index: 200;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
    transition: all 200ms;
}

.top-bar {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 5px 0 5px;
    height: 65px;
    position: absolute;
}

/* Notification content cards */
.notif-colon {
    position:fixed;
    top: 0;
    right: 0;
    height: 1px;
    overflow: visible;
    margin: 68px 42px;
    min-width: 312px;
    width: 15vw;
}

.notif-card {
    background-color: var(--component-bg-color);
    display: flex;
    clear: both;
    position: relative;
    min-width: 312px;
    width: 15vw;
    height: 120px;
    margin: 10px 0;
    padding: 14px;
    border-radius: 4px;
}

.notif-card .body {
    font-size: 18px;
}

.on-screen {
    animation: appear-from-under 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.off-screen {
    animation: disappear 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/*----- Menu        -----*/

.push-menu-menu {
    z-index: 0;
    background: var(--component-bg-color);
    display: inline-block;
    float: left;
    position: absolute;
    color: var(--component-font-color);
    height: 100%;
    top: 0;
    bottom: 0;
    width: 300px; /*this should be in device specific rule*/
    margin: 0;
    word-wrap: break-word;
}

.push-menu-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.push-menu-menu ul Link li,
.push-menu-menu ul li {
    background: var(--component-bg-color);
    color: var(--component-font-color);
    font-size: 22px;
    line-height: 1em;
    display: block;
    outline: none;
    padding: 1em 1em 1em 1.2em;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: all 2ms;
    transition: all 2ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.push-menu-menu ul a li:hover,
.push-menu-menu ul a li:active,
.push-menu-menu ul a li:focus {
    background: var(--component-font-color);
    color: var(--component-bg-color);
    box-shadow: inset -5px 14px 28px rgba(0, 0, 0, 0.25), inset 1px 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-transition: all 2ms;
    transition: all 2ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.push-menu-menu ul a li i {
    line-height: 1em;
    font-size: 23px;
    margin: 0 15px 0 0;
}

.push-menu-menu ul:first-child {
    /*padding-left: 60px;*/
}

.push-menu-main {
    background: var(--main-bg-color);
    display: inline-block;
    float: left;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
}

.stored { /*this should be in device specific rule*/
    transform: translateX(-300px);
    transition: transform 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.expanded { /*this should be in device specific rule*/
    transform: translateX(0px);
    transition: transform 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.stalled { /*this should be in device specific rule*/
    right: 0;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.pushed { /*this should be in device specific rule*/
    right: -300px;
    transition: all 200ms;
    filter: brightness(0.4);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}


/*----- Animations -----*/
@keyframes appear-from-under {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(+3px);
    }
    40% {
        transform: translateX(-3px);
    }
    60% {
        transform: translateX(+3px);
    }
    80% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0px);
    }
}